node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/controller/index.html
coverage/lcov-report/controller/slider-controller.ts.html
coverage/lcov-report/model/field-model.ts.html
coverage/lcov-report/model/index.html
coverage/lcov-report/model/slider-model.ts.html
coverage/lcov-report/model/field-modules/index.html
coverage/lcov-report/model/field-modules/notify.ts.html
coverage/lcov-report/model/field-modules/onClick.ts.html
coverage/lcov-report/model/field-modules/setDataStartEnd.ts.html
coverage/lcov-report/model/field-modules/setMinMax.ts.html
coverage/lcov-report/model/field-modules/onClick/index.html
coverage/lcov-report/model/field-modules/onClick/onClickUtility.ts.html
coverage/lcov-report/model/field-modules/onClick/defineNearest/defineNearestUtility.ts.html
coverage/lcov-report/model/field-modules/onClick/defineNearest/index.html
coverage/lcov-report/model/slider-modules/defineSignAfterComma.ts.html
coverage/lcov-report/model/slider-modules/index.html
coverage/lcov-report/model/slider-modules/initializeDefaultValues.ts.html
coverage/lcov-report/model/slider-modules/notify.ts.html
coverage/lcov-report/model/slider-modules/onDrag.ts.html
coverage/lcov-report/model/slider-modules/onDrop.ts.html
coverage/lcov-report/model/slider-modules/setStep.ts.html
coverage/lcov-report/model/slider-modules/onDrag/index.html
coverage/lcov-report/model/slider-modules/onDrag/onDragUtility.ts.html
coverage/lcov-report/model/slider-modules/onDrag/updatePositionUtility.ts.html
coverage/lcov-report/model/slider-modules/onDrop/index.html
coverage/lcov-report/model/slider-modules/onDrop/onDropUtility.ts.html
coverage/lcov-report/model/slider-modules/setSignAfterComma/index.html
coverage/lcov-report/model/slider-modules/setSignAfterComma/setSignAfterCommaUtility.ts.html
coverage/lcov-report/view/index.html
coverage/lcov-report/view/slider-view.ts.html
coverage/lcov-report/view/view-modules/createBar.ts.html
coverage/lcov-report/view/view-modules/createSlider.ts.html
coverage/lcov-report/view/view-modules/createTipNumber.ts.html
coverage/lcov-report/view/view-modules/index.html
coverage/lcov-report/view/view-modules/initializeValues.ts.html
coverage/lcov-report/view/view-modules/updateBarPosition.ts.html
coverage/lcov-report/view/view-modules/updateSliderPosition.ts.html
coverage/lcov-report/view/view-modules/updateTipNumber.ts.html
coverage/lcov-report/view/view-modules/createSlider/createSliderUtility.ts.html
coverage/lcov-report/view/view-modules/createSlider/index.html
coverage/lcov-report/view/view-modules/createTipNumber/createTipNumberUtility.ts.html
coverage/lcov-report/view/view-modules/createTipNumber/index.html
coverage/lcov-report/view/view-modules/updateBarPosition/index.html
coverage/lcov-report/view/view-modules/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/view/view-modules/updateSliderPosition/index.html
coverage/lcov-report/view/view-modules/updateSliderPosition/updateSliderPositionUtility.ts.html
coverage/lcov-report/model/FieldModel.ts.html
coverage/lcov-report/model/RunnerModel.ts.html
coverage/lcov-report/model/fieldModules/index.html
coverage/lcov-report/model/fieldModules/prepareDataForRunnerUpdating.ts.html
coverage/lcov-report/model/fieldModules/setMinMax.ts.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearestRunner.ts.html
coverage/lcov-report/model/fieldModules/handleClick/index.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearest/defineNearestUtility.ts.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearest/index.html
coverage/lcov-report/model/runnerModules/defineSignAfterComma.ts.html
coverage/lcov-report/model/runnerModules/index.html
coverage/lcov-report/model/runnerModules/initializeDefaultValues.ts.html
coverage/lcov-report/model/runnerModules/notify.ts.html
coverage/lcov-report/model/runnerModules/setStep.ts.html
coverage/lcov-report/model/runnerModules/updateRunnerValues.ts.html
coverage/lcov-report/model/runnerModules/setSignAfterComma/index.html
coverage/lcov-report/model/runnerModules/setSignAfterComma/setSignAfterCommaUtility.ts.html
coverage/lcov-report/model/runnerModules/updateRunnerValues/index.html
coverage/lcov-report/model/runnerModules/updateRunnerValues/updateRunnerValuesUtility.ts.html
coverage/lcov-report/presenter/index.html
coverage/lcov-report/presenter/SliderPresenter.ts.html
coverage/lcov-report/view/SliderView.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener.ts.html
coverage/lcov-report/view/viewModules/activateOnDragListener.ts.html
coverage/lcov-report/view/viewModules/activateOnDropListener.ts.html
coverage/lcov-report/view/viewModules/createBar.ts.html
coverage/lcov-report/view/viewModules/createRunner.ts.html
coverage/lcov-report/view/viewModules/createTipNumber.ts.html
coverage/lcov-report/view/viewModules/index.html
coverage/lcov-report/view/viewModules/initializeValues.ts.html
coverage/lcov-report/view/viewModules/initStartEnd.ts.html
coverage/lcov-report/view/viewModules/notifyFieldClick.ts.html
coverage/lcov-report/view/viewModules/notifySliderMoving.ts.html
coverage/lcov-report/view/viewModules/updateBarPosition.ts.html
coverage/lcov-report/view/viewModules/updateRunnerPosition.ts.html
coverage/lcov-report/view/viewModules/updateTipNumber.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener/handleClick.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener/index.html
coverage/lcov-report/view/viewModules/createRunner/createRunnerUtility.ts.html
coverage/lcov-report/view/viewModules/createRunner/index.html
coverage/lcov-report/view/viewModules/createTipNumber/createTipNumberUtility.ts.html
coverage/lcov-report/view/viewModules/createTipNumber/index.html
coverage/lcov-report/view/viewModules/onDrop/index.html
coverage/lcov-report/view/viewModules/onDrop/onDropUtility.ts.html
coverage/lcov-report/view/viewModules/updateBarPosition/index.html
coverage/lcov-report/view/viewModules/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/view/viewModules/updateRunnerPosition/index.html
coverage/lcov-report/view/viewModules/updateRunnerPosition/updateRunnerPositionUtility.ts.html
