node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/controller/index.html
coverage/lcov-report/controller/slider-controller.ts.html
coverage/lcov-report/model/field-model.ts.html
coverage/lcov-report/model/index.html
coverage/lcov-report/model/slider-model.ts.html
coverage/lcov-report/model/field-modules/index.html
coverage/lcov-report/model/field-modules/notify.ts.html
coverage/lcov-report/model/field-modules/onClick.ts.html
coverage/lcov-report/model/field-modules/setDataStartEnd.ts.html
coverage/lcov-report/model/field-modules/setMinMax.ts.html
coverage/lcov-report/model/field-modules/onClick/index.html
coverage/lcov-report/model/field-modules/onClick/onClickUtility.ts.html
coverage/lcov-report/model/field-modules/onClick/defineNearest/defineNearestUtility.ts.html
coverage/lcov-report/model/field-modules/onClick/defineNearest/index.html
coverage/lcov-report/model/slider-modules/defineSignAfterComma.ts.html
coverage/lcov-report/model/slider-modules/index.html
coverage/lcov-report/model/slider-modules/initializeDefaultValues.ts.html
coverage/lcov-report/model/slider-modules/notify.ts.html
coverage/lcov-report/model/slider-modules/onDrag.ts.html
coverage/lcov-report/model/slider-modules/onDrop.ts.html
coverage/lcov-report/model/slider-modules/setStep.ts.html
coverage/lcov-report/model/slider-modules/onDrag/index.html
coverage/lcov-report/model/slider-modules/onDrag/onDragUtility.ts.html
coverage/lcov-report/model/slider-modules/onDrag/updatePositionUtility.ts.html
coverage/lcov-report/model/slider-modules/onDrop/index.html
coverage/lcov-report/model/slider-modules/onDrop/onDropUtility.ts.html
coverage/lcov-report/model/slider-modules/setSignAfterComma/index.html
coverage/lcov-report/model/slider-modules/setSignAfterComma/setSignAfterCommaUtility.ts.html
coverage/lcov-report/view/index.html
coverage/lcov-report/view/slider-view.ts.html
coverage/lcov-report/view/view-modules/createBar.ts.html
coverage/lcov-report/view/view-modules/createSlider.ts.html
coverage/lcov-report/view/view-modules/createTipNumber.ts.html
coverage/lcov-report/view/view-modules/index.html
coverage/lcov-report/view/view-modules/initializeValues.ts.html
coverage/lcov-report/view/view-modules/updateBarPosition.ts.html
coverage/lcov-report/view/view-modules/updateSliderPosition.ts.html
coverage/lcov-report/view/view-modules/updateTipNumber.ts.html
coverage/lcov-report/view/view-modules/createSlider/createSliderUtility.ts.html
coverage/lcov-report/view/view-modules/createSlider/index.html
coverage/lcov-report/view/view-modules/createTipNumber/createTipNumberUtility.ts.html
coverage/lcov-report/view/view-modules/createTipNumber/index.html
coverage/lcov-report/view/view-modules/updateBarPosition/index.html
coverage/lcov-report/view/view-modules/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/view/view-modules/updateSliderPosition/index.html
coverage/lcov-report/view/view-modules/updateSliderPosition/updateSliderPositionUtility.ts.html
coverage/lcov-report/model/FieldModel.ts.html
coverage/lcov-report/model/RunnerModel.ts.html
coverage/lcov-report/model/fieldModules/index.html
coverage/lcov-report/model/fieldModules/prepareDataForRunnerUpdating.ts.html
coverage/lcov-report/model/fieldModules/setMinMax.ts.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearestRunner.ts.html
coverage/lcov-report/model/fieldModules/handleClick/index.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearest/defineNearestUtility.ts.html
coverage/lcov-report/model/fieldModules/handleClick/defineNearest/index.html
coverage/lcov-report/model/runnerModules/defineSignAfterComma.ts.html
coverage/lcov-report/model/runnerModules/index.html
coverage/lcov-report/model/runnerModules/initializeDefaultValues.ts.html
coverage/lcov-report/model/runnerModules/notify.ts.html
coverage/lcov-report/model/runnerModules/setStep.ts.html
coverage/lcov-report/model/runnerModules/updateRunnerValues.ts.html
coverage/lcov-report/model/runnerModules/setSignAfterComma/index.html
coverage/lcov-report/model/runnerModules/setSignAfterComma/setSignAfterCommaUtility.ts.html
coverage/lcov-report/model/runnerModules/updateRunnerValues/index.html
coverage/lcov-report/model/runnerModules/updateRunnerValues/updateRunnerValuesUtility.ts.html
coverage/lcov-report/presenter/index.html
coverage/lcov-report/presenter/SliderPresenter.ts.html
coverage/lcov-report/view/SliderView.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener.ts.html
coverage/lcov-report/view/viewModules/activateOnDragListener.ts.html
coverage/lcov-report/view/viewModules/activateOnDropListener.ts.html
coverage/lcov-report/view/viewModules/createBar.ts.html
coverage/lcov-report/view/viewModules/createRunner.ts.html
coverage/lcov-report/view/viewModules/createTipNumber.ts.html
coverage/lcov-report/view/viewModules/index.html
coverage/lcov-report/view/viewModules/initializeValues.ts.html
coverage/lcov-report/view/viewModules/initStartEnd.ts.html
coverage/lcov-report/view/viewModules/notifyFieldClick.ts.html
coverage/lcov-report/view/viewModules/notifySliderMoving.ts.html
coverage/lcov-report/view/viewModules/updateBarPosition.ts.html
coverage/lcov-report/view/viewModules/updateRunnerPosition.ts.html
coverage/lcov-report/view/viewModules/updateTipNumber.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener/handleClick.ts.html
coverage/lcov-report/view/viewModules/activateOnClickListener/index.html
coverage/lcov-report/view/viewModules/createRunner/createRunnerUtility.ts.html
coverage/lcov-report/view/viewModules/createRunner/index.html
coverage/lcov-report/view/viewModules/createTipNumber/createTipNumberUtility.ts.html
coverage/lcov-report/view/viewModules/createTipNumber/index.html
coverage/lcov-report/view/viewModules/onDrop/index.html
coverage/lcov-report/view/viewModules/onDrop/onDropUtility.ts.html
coverage/lcov-report/view/viewModules/updateBarPosition/index.html
coverage/lcov-report/view/viewModules/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/view/viewModules/updateRunnerPosition/index.html
coverage/lcov-report/view/viewModules/updateRunnerPosition/updateRunnerPositionUtility.ts.html
coverage/lcov-report/model/fieldModules/setOrientation.ts.html
coverage/lcov-report/model/runnerModules/notifyToRebuild.ts.html
coverage/lcov-report/model/runnerModules/notifyToUpdate.ts.html
coverage/lcov-report/model/runnerModules/setValuesFromInputs.ts.html
coverage/lcov-report/model/runnerModules/setValuesFromInputs/index.html
coverage/lcov-report/model/runnerModules/setValuesFromInputs/setValuesFromInputsUtility.ts.html
coverage/lcov-report/presenter/presenterModules/checkValues.ts.html
coverage/lcov-report/presenter/presenterModules/index.html
coverage/lcov-report/view/bar/Bar.ts.html
coverage/lcov-report/view/bar/createBar.ts.html
coverage/lcov-report/view/bar/index.html
coverage/lcov-report/view/bar/updateBarPosition.ts.html
coverage/lcov-report/view/bar/updateBarPosition/index.html
coverage/lcov-report/view/bar/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/view/field/handleClick.ts.html
coverage/lcov-report/view/field/index.html
coverage/lcov-report/view/field/initializeValues.ts.html
coverage/lcov-report/view/field/initStartEnd.ts.html
coverage/lcov-report/view/field/notifyFieldClick.ts.html
coverage/lcov-report/view/field/setStep.ts.html
coverage/lcov-report/view/field/handleClick/handleClickUtility.ts.html
coverage/lcov-report/view/field/handleClick/index.html
coverage/lcov-report/view/panel/activate.ts.html
coverage/lcov-report/view/panel/clearHTMLElement.ts.html
coverage/lcov-report/view/panel/index.html
coverage/lcov-report/view/panel/notifyInputChange.ts.html
coverage/lcov-report/view/panel/Panel.ts.html
coverage/lcov-report/view/panel/updateRunnerInput.ts.html
coverage/lcov-report/view/panel/activate/activateUtility.ts.html
coverage/lcov-report/view/panel/activate/index.html
coverage/lcov-report/view/runner/create.ts.html
coverage/lcov-report/view/runner/handleDrag.ts.html
coverage/lcov-report/view/runner/handleDrop.ts.html
coverage/lcov-report/view/runner/index.html
coverage/lcov-report/view/runner/notifySliderMoving.ts.html
coverage/lcov-report/view/runner/removeDrag.ts.html
coverage/lcov-report/view/runner/Runner.ts.html
coverage/lcov-report/view/runner/updatePosition.ts.html
coverage/lcov-report/view/runner/updateZIndex.ts.html
coverage/lcov-report/view/runner/create/createUtility.ts.html
coverage/lcov-report/view/runner/create/index.html
coverage/lcov-report/view/runner/handleDrag/handleDragUtility.ts.html
coverage/lcov-report/view/runner/handleDrag/index.html
coverage/lcov-report/view/runner/handleDrop/handleDropUtility.ts.html
coverage/lcov-report/view/runner/handleDrop/index.html
coverage/lcov-report/view/runner/updatePosition/index.html
coverage/lcov-report/view/runner/updatePosition/updatePositionUtility.ts.html
coverage/lcov-report/view/scale/create.ts.html
coverage/lcov-report/view/scale/index.html
coverage/lcov-report/view/scale/Scale.ts.html
coverage/lcov-report/view/scale/create/createUtility.ts.html
coverage/lcov-report/view/scale/create/index.html
coverage/lcov-report/view/scale/create/prepareScaleData.ts.html
coverage/lcov-report/view/scale/create/addScaleToDom/createScaleLines.ts.html
coverage/lcov-report/view/scale/create/addScaleToDom/createScaleLinesBox.ts.html
coverage/lcov-report/view/scale/create/addScaleToDom/createScaleNumbers.ts.html
coverage/lcov-report/view/scale/create/addScaleToDom/createScaleNumbersBox.ts.html
coverage/lcov-report/view/scale/create/addScaleToDom/index.html
coverage/lcov-report/view/tip/create.ts.html
coverage/lcov-report/view/tip/index.html
coverage/lcov-report/view/tip/Tip.ts.html
coverage/lcov-report/view/tip/update.ts.html
coverage/lcov-report/view/tip/create/createUtility.ts.html
coverage/lcov-report/view/tip/create/index.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/Slider.ts.html
coverage/lcov-report/src/demo/DemoSlider.ts.html
coverage/lcov-report/src/demo/index.html
coverage/lcov-report/src/demo/panel/activate.ts.html
coverage/lcov-report/src/demo/panel/index.html
coverage/lcov-report/src/demo/panel/notifyInputChange.ts.html
coverage/lcov-report/src/demo/panel/Panel.ts.html
coverage/lcov-report/src/demo/panel/removeListeners.ts.html
coverage/lcov-report/src/demo/panel/activate/activateUtility.ts.html
coverage/lcov-report/src/demo/panel/activate/index.html
coverage/lcov-report/src/model/FieldModel.ts.html
coverage/lcov-report/src/model/index.html
coverage/lcov-report/src/model/RunnerModel.ts.html
coverage/lcov-report/src/model/fieldModules/index.html
coverage/lcov-report/src/model/fieldModules/prepareDataForRunnerUpdating.ts.html
coverage/lcov-report/src/model/fieldModules/setMinMax.ts.html
coverage/lcov-report/src/model/fieldModules/setOrientation.ts.html
coverage/lcov-report/src/model/fieldModules/handleClick/defineNearestRunner.ts.html
coverage/lcov-report/src/model/fieldModules/handleClick/index.html
coverage/lcov-report/src/model/fieldModules/handleClick/defineNearest/defineNearestUtility.ts.html
coverage/lcov-report/src/model/fieldModules/handleClick/defineNearest/index.html
coverage/lcov-report/src/model/runnerModules/defineSignAfterComma.ts.html
coverage/lcov-report/src/model/runnerModules/index.html
coverage/lcov-report/src/model/runnerModules/initializeDefaultValues.ts.html
coverage/lcov-report/src/model/runnerModules/notifyToRebuild.ts.html
coverage/lcov-report/src/model/runnerModules/notifyToUpdate.ts.html
coverage/lcov-report/src/model/runnerModules/setStep.ts.html
coverage/lcov-report/src/model/runnerModules/setValuesFromInputs.ts.html
coverage/lcov-report/src/model/runnerModules/updateRunnerValues.ts.html
coverage/lcov-report/src/model/runnerModules/setSignAfterComma/index.html
coverage/lcov-report/src/model/runnerModules/setSignAfterComma/setSignAfterCommaUtility.ts.html
coverage/lcov-report/src/model/runnerModules/setValuesFromInputs/index.html
coverage/lcov-report/src/model/runnerModules/setValuesFromInputs/setValuesFromInputsUtility.ts.html
coverage/lcov-report/src/model/runnerModules/updateRunnerValues/index.html
coverage/lcov-report/src/model/runnerModules/updateRunnerValues/updateRunnerValuesUtility.ts.html
coverage/lcov-report/src/presenter/index.html
coverage/lcov-report/src/presenter/SliderPresenter.ts.html
coverage/lcov-report/src/presenter/presenterModules/checkValues.ts.html
coverage/lcov-report/src/presenter/presenterModules/index.html
coverage/lcov-report/src/view/clearHTMLElement.ts.html
coverage/lcov-report/src/view/index.html
coverage/lcov-report/src/view/SliderView.ts.html
coverage/lcov-report/src/view/bar/Bar.ts.html
coverage/lcov-report/src/view/bar/createBar.ts.html
coverage/lcov-report/src/view/bar/index.html
coverage/lcov-report/src/view/bar/updateBarPosition.ts.html
coverage/lcov-report/src/view/bar/updateBarPosition/index.html
coverage/lcov-report/src/view/bar/updateBarPosition/updateBarPositionUtility.ts.html
coverage/lcov-report/src/view/field/handleClick.ts.html
coverage/lcov-report/src/view/field/index.html
coverage/lcov-report/src/view/field/initializeValues.ts.html
coverage/lcov-report/src/view/field/initStartEnd.ts.html
coverage/lcov-report/src/view/field/notifyFieldClick.ts.html
coverage/lcov-report/src/view/field/setStep.ts.html
coverage/lcov-report/src/view/field/handleClick/handleClickUtility.ts.html
coverage/lcov-report/src/view/field/handleClick/index.html
coverage/lcov-report/src/view/runner/create.ts.html
coverage/lcov-report/src/view/runner/handleDrag.ts.html
coverage/lcov-report/src/view/runner/handleDrop.ts.html
coverage/lcov-report/src/view/runner/index.html
coverage/lcov-report/src/view/runner/notifySliderMoving.ts.html
coverage/lcov-report/src/view/runner/Runner.ts.html
coverage/lcov-report/src/view/runner/updatePosition.ts.html
coverage/lcov-report/src/view/runner/updateZIndex.ts.html
coverage/lcov-report/src/view/runner/create/createUtility.ts.html
coverage/lcov-report/src/view/runner/create/index.html
coverage/lcov-report/src/view/runner/handleDrag/handleDragUtility.ts.html
coverage/lcov-report/src/view/runner/handleDrag/index.html
coverage/lcov-report/src/view/runner/handleDrop/handleDropUtility.ts.html
coverage/lcov-report/src/view/runner/handleDrop/index.html
coverage/lcov-report/src/view/runner/updatePosition/index.html
coverage/lcov-report/src/view/runner/updatePosition/updatePositionUtility.ts.html
coverage/lcov-report/src/view/scale/create.ts.html
coverage/lcov-report/src/view/scale/index.html
coverage/lcov-report/src/view/scale/Scale.ts.html
coverage/lcov-report/src/view/scale/create/createUtility.ts.html
coverage/lcov-report/src/view/scale/create/index.html
coverage/lcov-report/src/view/scale/create/prepareScaleData.ts.html
coverage/lcov-report/src/view/scale/create/addScaleToDom/createScaleLines.ts.html
coverage/lcov-report/src/view/scale/create/addScaleToDom/createScaleLinesBox.ts.html
coverage/lcov-report/src/view/scale/create/addScaleToDom/createScaleNumbers.ts.html
coverage/lcov-report/src/view/scale/create/addScaleToDom/createScaleNumbersBox.ts.html
coverage/lcov-report/src/view/scale/create/addScaleToDom/index.html
coverage/lcov-report/src/view/tip/create.ts.html
coverage/lcov-report/src/view/tip/index.html
coverage/lcov-report/src/view/tip/Tip.ts.html
coverage/lcov-report/src/view/tip/update.ts.html
coverage/lcov-report/src/view/tip/create/createUtility.ts.html
coverage/lcov-report/src/view/tip/create/index.html
