body {
  font-family: 'Impact', sans-serif;
  background-color: #fff;
  padding: 100px 15px;
}
.title {
  padding-bottom: 60px;
  text-align: center;
  font-weight: 700;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  color: #1d1d1d;
}
.range-slider {
  margin-top: 20px;
  margin-bottom: 50px;

  $size: 20px;
  border: 1px solid rgba(109, 208, 165);
  box-sizing: border-box;
  color: #fff;
  position: relative;
  margin: auto;
  margin-bottom: 100px;
  border-radius: 3px;
  .scale-lines {
    display: grid;
    position: absolute;
    z-index: -1;
    grid-template-columns: repeat(18, 1fr);
    .scale-line {
      border-left: 1px solid black;
      width: 1px;
    }
  }
  .scale-numbers {
    display: grid;
    position: absolute;
    z-index: 0;
    grid-template-columns: repeat(18, 1fr);
    .scale-number {
      color: black;
      justify-content: center;
      text-align: center;
    }
  }

  .runner {
    position: absolute;
    top: -($size * 1.2) * 0.5;
    border: ($size * 0.2) solid white;
    border-radius: 100%;
    width: $size * 2;
    height: $size * 2;
    cursor: pointer;
    background: linear-gradient(#6fcf97 50%, #66d2ea);
    &.current {
      z-index: 2;
    }
    &.last {
      z-index: 1;
    }
  }
  &.horizontal {
    position: relative;
    height: $size;
    width: 100%;

    + .range-slider {
      margin-top: 60px;
    }
    .scale {
      width: 100%;
    }
    &:before,
    &:after {
      box-sizing: border-box;
      position: absolute;
      top: $size;
      margin: auto 0;
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      font-weight: 600;
      color: #000;
    }
    &:before {
      content: attr(data-start);
      left: 10px;
    }
    &:after {
      content: attr(data-end);
      right: 10px;
    }
    .tip-number {
      left: 0px;
      top: -2.2 * $size;
    }
    .slider-bar {
      position: absolute;

      background: linear-gradient(#6fcf97 50%, #66d2ea);
      height: $size;
      width: 0;
      z-index: -3;
    }
    .runner {
      top: -($size * 1.2) * 0.5;
      &.instance-1 {
        left: 50%;
      }
    }
  }
  &.vertical {
    height: 100%;
    width: $size;
    position: relative;

    + .range-slider {
      margin-bottom: 100px;
    }
    .scale {
      height: 100%;
    }
    &:before,
    &:after {
      box-sizing: border-box;
      position: absolute;
      right: $size;
      margin: auto 0;
      font-size: 14px;
      line-height: 20px;
      height: 20px;
      font-weight: 600;
      color: #000;
    }
    &:before {
      content: attr(data-start);
      top: 100%;
    }
    &:after {
      content: attr(data-end);
      top: 0%;
    }
    .tip-number {
      left: 2.2 * $size;
      top: 0px;
    }
    .slider-bar {
      position: absolute;
      //   top: 100%;
      //   height: 100%;
      width: $size;
      z-index: -3;
      background: linear-gradient(#6fcf97 50%, #66d2ea);
    }
    .runner {
      left: -$size * 1.2 * 0.5; //hald a width with borders
    }
  }
  .tip-number {
    position: absolute;
    transform: translateY(10%);
    user-select: none;
    transition: transform 0.25s cubic-bezier(0.01, 0.02, 0.07, 1);
    z-index: 2;
  }
  .tip-number span {
    border-radius: 5px;
    border: 1px solid #333;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    display: block;
    height: $size;
    width: $size * 2;
    color: black;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    position: relative;
    background: linear-gradient(#6fcf97 50%, #66d2ea);
    opacity: 0.2;
  }

  &.tap .tip-number {
    z-index: -2;
    span {
      opacity: 1;
      transition: 1s;
      transform: scale(1.1);
    }
  }

  &.tap .runner {
    z-index: -1;
  }
}
